<span>{{ username }}</span>
<div *ngIf="(authService.isLoggedIn$$ | async); else logIn">
    <button mat-button class="login__button" class="login__button" (click)="logOut()">Log out</button>

    <button mat-button class="login__button" class="login__button" (click)="onBlock()">Block</button>

    <!-- <button mat-button class="login__button" class="login__button" (click)="onUnBlock()">Unblock</button> -->
    <mat-icon (click)="onUnBlock()">lock_open</mat-icon>

    <!-- <button mat-button class="login__button" class="login__button" (click)="onDelete()">Delete</button> -->
    <mat-icon (click)="onDelete()">delete_outline</mat-icon>
</div>

<ng-template #logIn>
    <button mat-button class="login__button">Log in</button>
</ng-template>