* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  transition: all 1s ease-in-out;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
